*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.mmap-wrap {
    clear: both;
    width: 100%;
    float: left;
}
.mmap-wrap .legend-container,
.mmap-wrap .map-container {
    height: 600px;
    overflow: hidden;
    float: left;
    border: thin solid #333;
}
.mmap-wrap .map-container {
    width: 80%;
}
.mmap-wrap .legend-container {
    width: 20%;
}