*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.mmap-wrap {
    clear: both;
    width: 100%;
    float: left;
}
.mmap-wrap .legend-container,
.mmap-wrap .map-container {
    height: 600px;
    overflow: hidden;
    float: left;
    border: 1px solid #2b3481;
}
.mmap-wrap .map-container {
    width: 80%;
}
.mmap-wrap .legend-container {
    width: 20%;
}
.mmap-wrap .legend-container > .item {
    width: 100%;
    text-align: center;
    /* margin-bottom: 10px; */
}
.mmap-wrap .legend-container > .item:hover {
    background-color: #2b3481;
}
.mmap-wrap .legend-container .item > a {
    display: block;
    width: 100%;
    padding: 15px;
    text-decoration: none;
    color: #333;
    font-size: 17px;
}
.mmap-wrap .legend-container > .item:hover > a {
    color: #fff;   
}

@media(max-width: 715px){
    .mmap-wrap .map-container,
    .mmap-wrap .legend-container {
        width: 100%;
    }
    .mmap-wrap .legend-container {
        height: initial;
    }
    .mmap-wrap .legend-container > .item {
        float: left;
    }
    .mmap-wrap .legend-container > .item,
    .mmap-wrap .legend-container > .item > a {
        display: inline-block;
        width: initial;
    }
}